---
import Page from '../layouts/Page.astro';
import { getLocaleFromUrl, localePath } from '../i18n/utils';

const locale = getLocaleFromUrl(Astro.url);
---

<Page title="Not found" description="404">
  <h1>404</h1>
  <p>Page not found.</p>
  <a href={localePath('/', locale)}>Go home</a>
</Page>

